<div class="header">
  <div class="logo">
    <div class="text">Sports Hub</div>
  </div>
  <div class="search">
    <div class="icon-search"></div>
    <input class="" type="text" placeholder="Search by" />
  </div>
  <div class="social">
    <span>Share</span>
    <div class="fb"></div>
    <div class="tw"></div>
    <div class="gp"></div>
  </div>
  <div class="user">
    <div class="ellipse"></div>
    <span class="title">Roma Smith</span>
    <span class="polygon"></span>
  </div>
  <div class="lang">
    <span>EN</span>
    <span class="polygon"></span>
  </div>
</div>
