<div class="container">
  <%= render 'header' %>
  <%= render 'menu' %>

  <div class="main">
    <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'sign-out-link' %>
    <p>
<!--      <p class="notice"><%#= notice %></p>-->
<!--      <p class="alert"><%#= alert %></p>-->

      Hello, <%= current_user.firstname %>
    </p>
  </div>
</div>
