<div class="container">
  <%= render 'header' %>
  <%= render 'menu' %>

  <div class="main">
    <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'sign-out-link' %>
    <p>
<!--      <p class="notice"><%#= notice %></p>-->
<!--      <p class="alert"><%#= alert %></p>-->

      Hello, <b><%= current_user.firstname %></b>
    </p>

    <div class="main-article">
      <div class="label">NBA</div>
    </div>
    <div class="rectangle">
      <span class="date">Published / 20.09.2019</span>
      <p class="title">London Games return in 2019</p>
      <p class="text">Register to receive the latest news on ticket sales for the four NFL London Games in 2019!</p>
      <div class="more-btn">More</div>
    </div>
    <div class="paginator">
      <span class="prev"><</span>&nbsp;&nbsp;
      <span class="active">01</span>
      <span>02</span>
      <span>03</span>
      <span>04</span>&nbsp;&nbsp;
      <span class="next">></span>
    </div>
    <div class="all-articles">
      <div class="subarticle">
        <div class="photo"></div>
        <div class="title"><a href="">Raiders release</a></div>
        <div class="text">After a five-year stint with the Oakland Raiders</div>
      </div>
      <div class="subarticle2">
        <div class="photo"></div>
        <div class="title"><a href="">London Games</a></div>
        <div class="text">NFL London Games return in 2019!</div>
      </div>
      <div class="subarticle3">
        <div class="photo"></div>
        <div class="title"><a href="">London Games</a></div>
        <div class="text">NFL 2019 NFL free agency in 2019</div>
      </div>
      <div class="subarticle4">
        <div class="photo"></div>
        <div class="title"><a href="">Lorem ipsum</a></div>
        <div class="text">Lorem ipsum dolor sit amet, consectetur</div>
      </div>
    </div>
    <br/><br/>

    <div class="breakdown">
      <div class="title">BREAKDOWN</div>
      <br/>
      <div class="bl-main">
        <a href="">
          <div class="bl-img">
            <div class="label">NBA</div>
          </div>
          <p class="bl-text">Lorem ipsum dolor sit amet, consectetur</p>
        </a>
      </div>
      <div class="bl-add">
        <div class="bl bl1">
          <a href="">
            <div class="img"></div>
            <div class="data">
              <p class="title">Lorem ipsum</p>
              <p class="text">Lorem ipsum dolor sit amet, consectetur</p>
            </div>
          </a>
        </div>
        <div class="bl bl2">
          <a href="">
            <div class="img"></div>
            <div class="data">
              <p class="title">Lorem ipsum</p>
              <p class="text">Lorem ipsum dolor sit amet, consectetur</p>
            </div>
          </a>
        </div>
        <div class="bl bl3">
          <a href="">
            <div class="img"></div>
            <div class="data">
              <p class="title">Lorem ipsum</p>
              <p class="text">Lorem ipsum dolor sit amet, consectetur</p>
            </div>
          </a>
        </div>
      </div>

      <div class="bl-main">
        <a href="">
          <div class="bl-img">
            <div class="label">NBA</div>
          </div>
          <p class="bl-text">Lorem ipsum dolor sit amet, consectetur</p>
        </a>
      </div>
      <div class="bl-add">
        <div class="bl bl1">
          <a href="">
            <div class="img"></div>
            <div class="data">
              <p class="title">Lorem ipsum</p>
              <p class="text">Lorem ipsum dolor sit amet, consectetur</p>
            </div>
          </a>
        </div>
        <div class="bl bl2">
          <a href="">
            <div class="img"></div>
            <div class="data">
              <p class="title">Lorem ipsum</p>
              <p class="text">Lorem ipsum dolor sit amet, consectetur</p>
            </div>
          </a>
        </div>
        <div class="bl bl3">
          <a href="">
            <div class="img"></div>
            <div class="data">
              <p class="title">Lorem ipsum</p>
              <p class="text">Lorem ipsum dolor sit amet, consectetur</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <br/>

    <div class="photo-of-day">
      <div class="title">Photo of the day</div>
      <div class="photo-day">
        <div class="flag-img">
          <div class="text">
            Photo of the day
          </div>
        </div>
        <div class="data">
          <p class="title">Defending The Throne</p>
          <p class="text">
            Los Angeles Lakes guard Derek Fisher, right, is pressured by the Denver Nuggets Nene during th efirst quarter of NBA exhibition action on Oct 16 Photo Courtesy MCT 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
