<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style>
      /* Email styles need to be inline */
  </style>
</head>

<body>
  <h1>Hello, <%= @user.firstname + ' ' + @user.lastname %></h1>
  <p>
    You account has been blocked.
  </p>
  <p>
    at <%= @url %>
  </p>
</body>
</html>
